<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="ca.ecliptical.pde.internal.ds.DSAnnotationCompilationParticipant"
            createsProblems="true"
            id="ca.ecliptical.pde.ds.DSAnnotationCompilationParticipant"
            requiredSourceLevel="1.5">
         <managedMarker
               markerType="ca.ecliptical.pde.ds.problem">
         </managedMarker>
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="ca.ecliptical.pde.ds"
            label="%keyword.label">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ca.ecliptical.pde.internal.ds.DSAnnotationPropertyPage"
            id="ca.ecliptical.pde.ds"
            name="%property.page.name">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.pde.PluginNature">
               </test>
            </adapt>
         </enabledWhen>
         <keywordReference
               id="ca.ecliptical.pde.ds">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ca.ecliptical.pde.internal.ds.DSAnnotationPropertyPage"
            id="ca.ecliptical.pde.ds"
            name="%preference.page.name">
         <keywordReference
               id="ca.ecliptical.pde.ds">
         </keywordReference>
      </page>
   </extension>
   <extension
         id="problem"
         name="%problem.marker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.pde.ds.core.content-type"
            id="ca.ecliptical.pde.ds.content-type-v12"
            name="%content-type-v12.name">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{http://www.osgi.org/xmlns/scr/v1.2.0}component">
            </parameter>
         </describer>
      </content-type>
   </extension>

</plugin>
